<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Base de datos-->
    <add key="DataBase" value="BRM_V2"/>
  </appSettings>
  <connectionStrings>
    <!--Servidor MongoDb-->
    <add name="DbContext" connectionString="mongodb://10.70.1.21:27017"/>
    <!--<add name="DbContext" connectionString="mongodb://10.1.0.162:27017"/>-->
  </connectionStrings>
</configuration>